<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HolaMundoServlet</servlet-name>
        <servlet-class>edu.curso.java.servlets.HolaMundoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioAltaServlet</servlet-name>
        <servlet-class>edu.curso.java.servlets.FormularioAltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPersonaServlet</servlet-name>
        <servlet-class>edu.curso.java.servlets.AltaPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoPersonasServlet</servlet-name>
        <servlet-class>edu.curso.java.servlets.listadoPersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPersona</servlet-name>
        <servlet-class>edu.curso.java.servlets.modificarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaCantidad</servlet-name>
        <servlet-class>edu.curso.java.servlets.consultaCantidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolaMundoServlet</servlet-name>
        <url-pattern>/HolaMundoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioAltaServlet</servlet-name>
        <url-pattern>/FormularioAltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPersonaServlet</servlet-name>
        <url-pattern>/AltaPersonaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoPersonasServlet</servlet-name>
        <url-pattern>/listadoPersonasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPersona</servlet-name>
        <url-pattern>/modificarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaCantidad</servlet-name>
        <url-pattern>/consultaCantidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
